attrs
click
colorama
coloredlogs
exceptiongroup
graphviz
HeapDict
humanfriendly
igraph
infomap
iniconfig
ipykernel
jsonpickle
leidenalg
networkit
networkx
numpy
packaging
pandas
pip
pluggy
psutil
pytest
pytz
scipy
setuptools
six
structlog
tomli
treeswift
typer
typing
yapf

git+https://github.com/vikramr2/python-mincut
git+https://github.com/illinois-or-research-analytics/cm_pipeline
-e ./package
